* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    --heart: #BB1826;
}
body {
    background-color: #f4f4f4;
    padding-top: 65px;
}
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 12px;
    z-index: 100;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #333;
}
#icon {
    position: fixed;
    top: 12px;
    left: 10px;
    width: 64px;
    object-fit: cover;
    z-index: 101;
}
#header h1 {
    font-size: 20px;
}
#header h2 {
    font-size: 16px;
}
#gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}
.product {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1.5;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 16px;
}
.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.heart {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>') no-repeat center;
    background-size: contain;
    background-origin: padding-box;
    padding: 4px;
    cursor: pointer;
    z-index: 10;
}
.heart.active {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(230, 45, 60, 1)" stroke="rgba(230, 45, 60, 1)"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg>') no-repeat center;
    background-size: contain;
}
#zoom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 200;
    pointer-events: none;
}
#zoom-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    pointer-events: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 32px;
    z-index: 202;
}
#send-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px 10px 10px;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: none;
    z-index: 150;
    text-decoration: none;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-self: center;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#sendheart {
    margin: 2px 8px 2px 4px;
    width: 28px;
    height: 28px;
    background-origin: padding-box;
    padding: 4px;
    cursor: pointer;
    z-index: 10;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white"><path d="M17.5,16.6c0,0.1-1,0.2-1,0.2s-4,0.5-4.2,0.6c-0.2,0.1-0.3,0.2-0.3,0.2s-1.2,2.2-1.8,3.6c-0.6,1.4,0.7,0.7,0.7,0.7l10.4-4.6 l0,0c0.8-0.3,0.7-0.7,0.7-0.7s0.1-0.4-0.7-0.7l0,0l-10.4-4.6c0,0-1.3-0.6-0.7,0.7s1.8,3.6,1.8,3.6s0.1,0.1,0.3,0.2 c0.2,0.1,4.2,0.6,4.2,0.6S17.5,16.5,17.5,16.6z"/><path d="M11.2,17L11.2,17c0.1-0.1,0.2-0.3,0.5-0.4c-0.2-0.1-0.4-0.3-0.4-0.4l0,0l0,0c0-0.1-1.2-2.3-1.9-3.6 c-0.1-0.3-0.5-1.1-0.1-1.7c0.2-0.4,0.6-0.6,1.1-0.6c0.4,0,0.9,0.2,0.9,0.2l5.7,2.5C18.9,10.9,20,9,20,7c0-2.8-2.2-5-5-5 c-1.6,0-3.1,0.7-4,1.9C10,2.7,8.5,2,7,2C4.2,2,2,4.2,2,7c0,3.4,3.1,6.2,7.7,10.4l0.9,0.8C10.9,17.5,11.1,17.1,11.2,17L11.2,17z"/></svg>') no-repeat center;
    background-size: contain;
    align-self: left;
}
.loader {position: fixed;
    top: 50% - 20px;
    left: 50% - 20px;
    border: 2px solid #707070;
    border-top: 3px solid #e0e0e0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    z-index: 201;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}